// MEDIA
$xlarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 568px;

/* GRID */
$container-width-xlarge: 1293px;
$container-width-large: 960px;
$container-width-medium: 720px;
$container-width-small: 540px;
$gutter: 30px;
$num-cols: 12;

// COLORS
$color-primary: #4A5DC3; // #E8AE30 #F7C46C #FBB033 #DF9130
$color-secondary: #4B2507; // #815939 #70401A
$color-base: #696152; // #696152 #C4C4C4 #FFFAF2 #5F5F5F
$color-white: #FFF;
$color-black: #000;

// TYPOGRAPHY
$font-secondary: 'Pacifico', cursive;
$font-primary: 'Open Sans', sans-serif;

