@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto');


// body{
//     background: green;
// }

.buttons{
    min-height: 448px;
    &__years{
        margin-top: 23px;
        & button{
            margin-top: 60px;
            width: 100%;
            padding: 28px 88px 28px 168px;
            background: #56CCF2;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            & a{
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-size: 14px;
                text-transform: uppercase;
                color: #FFFFFF;
                & img{
                    position: absolute;
                    left: 100px;
                    top: 108px;
                    left: 205px;
                }
            }
        }
        & button:hover{
            background: rgb(56, 190, 235);
        }
    }
    &__hotel{
        width: 100%;
        background: #5C6BC0;
        border-radius: 4px;
        border: none;
        margin-top: 39px;
        margin-bottom: 60px;
        &--margin{
            margin-top: 30px;
            margin-bottom: 30px;
        }
        & h1{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 24px;
            color: #FFFFFF;
            padding: 62px 365px 0px 20px;
        }
        & p{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            color: #FFFFFF;
            padding: 0px 0px 62px 20px;
            & button{
                float: right;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-size: 16px;
                color: #FFFFFF;
                background: #57C986;
                border-radius: 4px;
                border: none;
                padding: 14px 36px 14px 37px;
                cursor: pointer;
                margin-right: 20px;
                margin-top: -34px;
            }
            & button:hover{
                background: rgb(55, 224, 125);
            }
        }
    }
}
