@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto');
$font_0: Open Sans;


// body{
//     background: red;
// }

.header-vector2-1{
    background-image: url('../img/Vector2-1.png');
    min-height: 692px;
    background-repeat: no-repeat;
    background-position: top right;
    margin-top: -2px;
}
*{
    list-style: none;
}

.header {
    &__filter{
        width: 100%;
        height: 800px;
        background: white;
    }
    &__logo {
        display: flex;
        justify-content: flex-start;
        padding-top: 37px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        line-height: normal;
        font-size: 24px;
        text-transform: uppercase;
        display: block;
    }
    &__logo a {
        color: white;
        text-decoration: none;
    }
    &__form{
        display: flex;
        justify-content: flex-end;
        margin-top: -29px;
        & form{
            margin-top: -21px;
            & input{
                border-top-left-radius: 9px;
                border-bottom-left-radius: 9px;
                padding: 0px 40px 1.5px 13px;
                width: 218px;
                height: 43px;
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                color: #38496a;    
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border: none;
            }
            & input:focus{
                background-color: whitesmoke;
                border: 1px solid white;
            }
        }
    }
    &__btn{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #56CCF2;
    width: 112px;
    height: 43px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    }
    &__email{
        background: #FFFFFF;
        box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        height: 259px; 
        margin-top: 50px;
        & p{
            justify-content: center;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            color: #51527E;
            padding: 30px 28px;
            margin-bottom: 0px;
        }
        & form{
            & input{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 16px;
                // border: none;
                margin-top: 0;
                padding: 14px 12px 14px 39px;
                outline: 0;
                color: black;
                margin-left: 20px;
            }
            & button{
                margin-left: 19px;
                cursor: pointer;
            }
        }
    }
}   

#slider-range{
    width: 69%;
    margin-left: 25px;
    margin-top: -17px;
}
 

.offer__info{
    border-radius: 4px;
    margin-top: -104px;
    background: white;
    width: 100%;
    margin-top: 35px;
    top: 50px;
    & h3{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 16px;
        color: #333333;
        padding-left: 25px;
        text-transform: capitalize;
        padding-top: 25px;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }
    &--h3-margin{
        margin-top: -27px;
    }
    & input{
        font-family: 'Open Sans', sans-serif;
        margin-left: 23px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        color: #333333;
    }
    & label{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #333333;
        cursor: pointer;
    }
    & hr{
        margin-left: 23px;
        padding-right: 13px;
        width: 87%;
    }
}

.accordion{
    & input{
        margin-left: -10px;
    }
    &--height{
        height: auto;
    }
}

.header-popular__btn{
    margin-top: 20px;
    background: #57C986;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 14px 56px 14px 57px;
    outline: 0;
}

.header-popular__btn:hover{
    background: rgb(26, 161, 83);
}

.header__btn:hover{
    background-color: rgb(28, 185, 238);
}

.header__btn:focus{
    background-color: green;
}



.nav{
    &__list{
        margin-top: -20px;
        padding-right: 232px;
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }
    &__item{
        margin-top: -3px;
    }
    &__link{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        padding: 26px;
    }
}

.nav__item-lang {
    text-decoration: none;
    color: white;
    margin-top: -3px;
}

.nav__item-lang a {
    text-decoration: none;
    color: white;
}

.offers{
    & h2{
        margin-top: 60px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        line-height: 39px;
        font-size: 24px;
        color: #FFFFFF;
    } 
    &__content{
        width: 261px;
        height: 390px;
        background: white;
        margin-top: 50px;
        margin-left: 32px;
        position: relative;
        border: none;
        border-radius: 4px;
        & span{
            position: absolute;
            background: #C665B2;
            border-radius: 2px;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 14px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 10px;
            left: 191px;
            top: 12px;
        }
        & img{
            width: 261px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
    }
    &__card{
        padding-left: 15px;
        & h1{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 18px;
            color: #333333;
        }
        & h1::after{
            content: " Турция";
            font-weight: normal;
        }
        & p{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            color: #4F4F4F;
        }
        & p::after{
            content: " 10 ночей";
            color: #57C886;
        }
        & h2{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 16px;
            color: #333333;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        & h2::before{
            content: "Стоимость: ";
            font-weight: normal;
            font-size: 13px;
        }
        & h2::after{
            content: " UAH";
            font-weight: normal;
            font-size: 13px;
        }
        & h4 {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            color: #828282;
            margin-top: 0px;
        }
        & button{
            background: #F2994A;
            border-radius: 4px;
            padding: 8px 44px 9px 44px;
            border: none;
            outline: 0;
        }
    }
}



// PARIS
.offers__content--paris{
    margin-top: 35px;
    & img{
        width: 262.9px;
    }
}
.offers__card--paris{
    & h1::after{
        content: "  Франция";
    }
    & p::after{
        content: " 10 ночей";
    }
}

// BERLIN
.offers__content--berlin{
    margin-top: 35px;
    & img{
        width: 263.6px;
    }
}
.offers__card--berlin{
    & h1::after{
        content: "  Германия";
    }
    & p::after{
        content: " 14 ночей";
    }
}

// RIM

.offers__content--rim{
    margin-top: 35px;
    & img{
        width: 263.6px;
    }
}
.offers__card--rim{
    & h1::after{
        content: "  Италия";
    }
    & p::after{
        content: " 14 ночей";
    }
}

// LICCABON

.offers__content--liccabon{
    margin-top: 130px;
    & img{
        width: 262.6px;
    }
}
.offers__card--liccabon{
    & h1::after{
        content: "  Португалия";
    }
    & p::after{
        content: " 18 ночей";
    }
}

// STOKGOLM

.offers__content--stokgolm{
    margin-top: 35px;
    & img{
        width: 262.6px;
    }
}
.offers__card--stokgolm{
    & h1::after{
        content: "  Швеция";
    }
    & p::after{
        content: " 19 ночей";
    }
}

// DYBAI

.offers__content--dybai{
    margin-top: 35px;
    & img{
        width: 262.6px;
    }
}
.offers__card--dybai{
    & h1::after{
        content: "  ОАЭ";
    }
    & p::after{
        content: " 10 ночей";
    }
}


// GRACE

.offers__content--grace{
    margin-top: 35px;
    & img{
        width: 262.6px;
    }
}
.offers__card--grace{
    & h1::after{
        content: "  Греция";
    }
    & p::after{
        content: " 7 ночей";
    }
}


// BARSELONA

.offers__content--barselona{
    margin-top: 187px;
    & img{
        width: 262.6px;
    }
}
.offers__card--barselona{
    & h1::after{
        content: "  Испания";
    }
    & p::after{
        content: " 19 ночей";
    }
}

// POLAND

.offers__content--poland{
    margin-top: 35px;
    & img{
        width: 262.6px;
    }
}
.offers__card--poland{
    & h1::after{
        content: "  Польша";
    }
    & p::after{
        content: " 12 ночей";
    }
}


// LONDON

.offers__content--london{
    margin-top: 35px;
    & img{
        width: 262.6px;
    }
}
.offers__card--london{
    & h1::after{
        content: "  Великобритания";
    }
    & p::after{
        content: " 3 ночи";
    }
}

// TAXI

.offers__content--taxi{
    margin-top: 35px;
    & img{
        width: 262.6px;
    }
}
.offers__card--taxi{
    & h1::after{
        content: "  Хорватия";
    }
    & p::after{
        content: " 18 ночей";
    }
}

.card__btn{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #FEFEFE;
    border: none;
    cursor: pointer;
    margin-left: 82px;
}

.card__btn:hover{
    background: rgb(209, 124, 50);
}

