@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.vector4{
    background-image: url('../img/Vector4.png');
    min-height: 1200px;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: -104px;
}

.popular{
    &__info{
        margin-top: 393px;
        & h1{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            display: flex;
            justify-content: flex-end;
        }
        & p{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            text-align: right;
            color: #FCFCFC;
        }
    }
    &__infos{
        display: none;
    }
    &__btn{
        outline: 0;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        text-align: right;
        text-transform: capitalize;
        color: #FAFAFA;
        padding: 15px 26px 15px 27px;
        background: #57C986;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        margin-left: 209px;
        margin-top: 7px;
        &:hover{
            background: rgb(27, 165, 84);
            border-radius: 8px;
        }
    }
    &__content{
            margin-right: 30px;
            margin-bottom: 30px;
        & h1{
            position: absolute;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 14px;
            text-transform: capitalize;
            color: #FFFFFF;
            left: 34px;
        }
        & p {
            position: absolute;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            color: #FFFFFF;
            left: 34px;
        }
        & img{
            width: 117%;
            height: 215px;
            -moz-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            -webkit-transition: all 1s ease-out;
            cursor: pointer;
        }
        & img:hover{
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
        &--row1{
            margin-top: 247px;
            & h1{
                top: 258px;
            }
            & p{
                top: 270px;
            }
        }
        &--row2{
            & h1{
                top: 506px;
            }
            & p{
                top: 519px;
            }
        }
        &--row3{
            & h1{
                top: 754px;
            }
            & p{
                top: 767px;
            }
        }
    }
    
}