@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');


// body{
//     background: green;
// }

.vector2-4{
    background-image: url('../img/Vector2-4.png');
    min-height: 786px;
    background-repeat: no-repeat;
    background-position: left;
}

.reviews{
    &__header{
        margin-top: 86px;
        & h1{
            font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: 600;
            line-height: 34px;
            font-size: 24px;
            text-transform: uppercase;
            color: #000000;
        }
    }
}


.slider-wrap {
    width: 100% !important;
    max-width: 100% !important;
    /* overflow: hidden; */
    min-height: 250px;
    padding: 39px 21px 0;
}

.slider {
    max-width: 100%;
    width: 100%;
}

.slide {
    padding: 0 21px;
    outline: none;
}

.slick-arrow {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: auto;
    height: auto;
    color: #8493a8;
}

.slick-arrow:before {
    font-family: inherit;
    font-size: 50px;
    color: white;
}


.slick-next {
    right: -29px;
    top: 182px;
}

.slick-next:before {
    content: "\f105";
}

.slick-prev {
    right: 100px;
    top: 182px;
}

.slick-prev:before {
    content: "\f104";
}


.slider__width {
    margin-left: -57px;
    margin-top: -7px;
    width: 112%;
}

.font {
    padding: 0px 0px;

    width: 122%;
}