@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');


// body{
//     background: green;
// }

.vector2-4{
    background-image: url('../img/Vector2-4.png');
    min-height: 786px;
    background-repeat: no-repeat;
    background-position: left;
}

.reviews{
    &__header{
        margin-top: 86px;
        & h1{
            font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: 600;
            line-height: 34px;
            font-size: 24px;
            text-transform: uppercase;
            color: #000000;
        }
    }
}


.review {
    border: 1px solid rgba(0,0,0,.12);
    padding: 29px 24px;
    background: white;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    min-height: 320px;
    max-width: 400px;
    &__star{
        float: left;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        color: #333333;
        padding-left: 20px;
        & h2{
            margin-top: 0px;
            margin-bottom: 10px;
        }
    }
}
.review__brand {
    overflow: hidden;
    float: left;
    margin-left: 40px;
}
.review__brand img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}
.review__text {
    & p{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        font-size: 14px;
        color: #4F4F4F;
        margin-top: 117px;
        margin-left: 40px;
        margin-bottom: 35px;
        
    }
}
.review__date{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #4F4F4F;
    margin-left: 40px;
}
.slider-wrap {
    width: 100% !important;
    max-width: 100% !important;
    /* overflow: hidden; */
    min-height: 250px;
    max-height: 372px;
    padding: 63px 21px 0;
    padding-left: 0px;
}

.slider {
    max-width: 100%;
    width: 100%;
}

.slide{
    padding-left: 10px;
    padding-right: 10px;
}


.slick-arrow {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: auto;
    height: auto;
    color: #8493a8;
}

.slick-arrow:before {
    font-family: inherit;
    font-size: 50px;
    color: green;
    width: 31px;
    height: 19px;
}


.slick-next {
    right: 44px;
    top: 392px;
}

.slick-next:before {
    content: "\f105";
}

.slick-prev {
    left: 1134px;
    top: 392px;
}

.slick-prev:before {
    content: "\f104";
}
