@media screen and (max-width:  $small) {
    
    .header-vector01 {
        background-image: url(../img/Vector-1-mobi-small.png);
        min-height: 700px;
        // background-repeat: no-repeat;
        // background: linear-gradient(120.35deg, #5C6BC0 -9.18%, #7481C8 69.09%);
    }
    .vector02{
        min-height: 1500px;
        background-color: #F7F8FC;
        margin-top: 0px;
    }
    .vector3 {
        background-color: #F7F8FC;
        min-height: 710px;
        margin-top: -209px;
    }
    .vector4{
        background: white;
        min-height: 864px;
        margin-top: 0px;
    }
    .vector5{
        background: white;
        min-height: 855px;
        margin-top: 20px;
    }
    .header {
        &__content {
            & h1 {
                display: none;
            }
        }

        &__text {
            & p {
                margin-top: 50px;
                margin-bottom: 0px;
            }
        }

        &__form {
            & form {
                & input {
                    display: none;
                }

                & button {
                    border-radius: 4px;
                }
            }
        }
        & label.btn-menu{
            display: block;
            width: 10%;
            background: #5C6BC0;
        }
    }
    .nav {
        &__link {
            display: none;
        }

        &__item-lang {
            display: flex;
            margin-left: 100px;
            & a {
                font-size: 17px;
            }
        }
    }

    .avia {
        display: none;
        &--padding-left {
            padding-right: 0px;
        }

        &--padding-right {
            padding-left: 0px;
        }

        &__check {
            display: none;
        }

        &__class {
            width: 92%;

            & p {
                margin-top: 0px;
            }
        }

        &__button {
            & form {
                padding-top: 20px;
            }
        }

        &__radio {
            display: flex;
            flex: wrap;
            & label {
                font-size: 10px;
                padding-right: 4px;
            }
            & input {
                margin: 0;
            }
        }

        &__content {
            height: auto;
        }

        &__list {
            padding-left: 0px;
        }

        &__link--none {
            display: none;
        }
        &__item{
            & a{
                padding:4px 4px;
            }
        }
        &__date-back {
            border-radius: 4px;

            & form {
                & input {
                    margin-left: 41px;
                    width: 64%;
                }
            }

            & p {
                margin-left: 16px;
            }

            & img {
                padding-left: 17px;
            }

            &__date-there {
                border-radius: 4px;

                & form {
                    & input {
                        margin-left: 41px;
                        width: 50%;
                    }
                }

                & img {
                    padding-left: 17px;
                }

                & p {
                    margin-left: 16px;
                }
            }
        }
    }
    .stock {
        &__fotoes{
            display: none;
            & span{
                display: none;
            }
        }
        &__popular {
            margin-top: 0px;
            & h1 {
                display: block;
                padding-top: 40px;
            }
            & h2 {
                display: none;
            }
            & p {
                display: none;
            }
        }

        &__foto {
            & span {
                left: 401px;
                padding: 10px;
                top: 38px;
                display: none;
            }
            & p{
                padding-right: 100px;
                padding-bottom: 10px;
                & br {
                    display: none;
                  }
            }
            & img{
                width: 100%;
                height: auto;
            }
            &--margin {
                display: block;
            }
            &--paris {
                & span {
                    top: 403px;
                }
            }
            &--spain{
                margin-top: 0px;
            }
        }

        &__where {
            & form {
                & input {
                    letter-spacing: 0px;
                }
            }
        }
    }

    .booking {
        &__content {
            & h1 {
                display: none;
            }
            & h2 {
                display: block;
                margin-top: 220px;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 16px;
                color: #333333;
            }
        }
        &__info{
            margin-bottom: 20px;
            width: 100%;
            & p{
                padding: 20px 0;
                padding-left: 20px;
                padding-right: 30px;
                & br {
                    display: none;
                    }
            }
        }
        &__hotel{
            width: 100%;
            padding: 35px;
            margin-bottom: 20px;
            & span{
                float: right;
            }
        }
        &__search{
            width: 100%;
            & p{
                margin-top: 0px;
                font-size: 14px;
            }
        }
        &__button{
            padding-bottom: 40px;
            & button{
                width: 100%;
                margin-left: 0px;
                margin-top: 0px;
            }
        }
    }
    .popular{
        &--background{
            background-color: #5C6BC0;
        }
        &__info{
            margin-top: 0px;
            width: 100%;
            & p{
                display: none;
            }
            & button{
                display: none;
            }
            & h1{
                margin-bottom: 20px;
                margin-top: 0px;
                padding-top: 20px;
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
                color: #FFFFFF;
                display: flex;
                justify-content: center;
            }
        }
        &__infos{
            display: block;
            margin: 20px 0;
            & button{
                width: 100%;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 16px;
                text-align: right;
                text-transform: capitalize;
                color: #FAFAFA;
                text-align: center;
                background: #57C986;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                margin-left: 0px;
                margin-top: 0px;
                &:hover{
                    background: rgb(27, 165, 84);
                    border-radius: 8px;
                    transition: .5s;
                    }
                }
        }
        &__content{
            margin-bottom: 5px;
            &--row1{
                margin-top: 0px;
                margin-left: 15px;
                & h1{
                    top: 5px;
                }
                & p{
                    top: 17px;
                }
            }
            &--row2{
                margin-left: 15px;
                margin-top: 0px;
                & h1{
                    top: 184px;
                }
                & p{
                    top: 196px;
                }
            }
            &--row3{
                margin-left: 15px;
                margin-top: 0px;
                & h1{
                    top: 360px;
                }
                & p{
                    top: 372px;
                }
            }
            & img:hover{
                -webkit-transform: none;
                -moz-transform: none;
                -o-transform: none;
            }
            & img{
                width: 100%;
                height: auto;
            }
        }
        &__content-none{
            display: none;
        }
    }
    .tips{
        &__header{
            & h1{
                margin-top: 0px;
                text-align: center;
            }
        }
        &__btn{
            width: 83%;
        }
        &__content{
            height: 493px;
        }
        &__content2{
            height: 493px;
        }
        &__btn{
            margin-top: 20px;
        }
    }
    .subscribe{
        background: #FCFCFE;
        height: 339px;;
        width: 100%;
        &__content{
            & form{
                display: none;
            }
        }
        &--mobi{
            display: block;
            & input{
                margin-top: 18px;
                width: 82%;
                background: #FFFFFF;
                box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 14px;
                color: #4F4F4F;
                border: none;
                padding: 15px 0;
                padding-left: 30px;
                outline: 0;
            }
        }
        &__btn{
            display: flex;
            justify-content: flex-start;
            margin-top: 10px;
            width: 82%;
            background: #57C986;
            border-radius: 4px;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            color: #FFFFFF;
            padding: 15px 0px;
            border: none;
            cursor: pointer;
            outline: 0;
            padding-left: 30px;
            margin-bottom: 20px;
        }
        &__nav{
            margin-top: 45px;
            display: flex;
            justify-content: center;
            padding: 0;
            width: 100%;
            padding-right: 15px;
        }
    }
    .footer{
        &__content{
            display: none;
        }
        &__social{
            display: none;
        }
    }
    .help{
        display: none;
    }
    .footer-mobi{
        &--padding{
            padding-left: 33px;
        }
        &__content{
            display: block;
            & h1{
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                font-size: 24px;
                text-transform: uppercase;
                color: #333333;
                margin-bottom: 0px;
            }
        }
        &__help{
            display: block;
        }
        &__number{
            display: block;
            width: 100%;
            & p{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 12px;
                text-transform: uppercase;
                color: #333333;
                padding-left: 30px;
            }
        }
        &__text{
            & p{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 14px;
                text-transform: uppercase;
                color: #000000;
            }
        }
        &__foto{
            width: 82%;
            padding-left: 15px;
            display: flex;
            flex-direction: row;
        }
        &__pay{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 30px;
        }
        &__btn{
            width: 100%;
            padding-left: 30px;
        }
    }
    .help-mobi{
        &__list{
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding-left: 0px;
            margin-top: 10px;
            width: 82%;
        }
        &__link{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 16px;
            color: #4F4F4F;
            text-decoration: none;
        }
        &__link:hover{
            color:  #5C6BC0;
        }
    }  
}

.help-mobi__item + .help-mobi__item {
    padding-left: 0px;
}


.avia__btn{
    width: 100%;
    padding: 18px 0px;
    margin-bottom: 10px;
}

.hotel__btn{
    width: 100%;
    padding: 18px 0px;
}