@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.vector2-2{
    background-image: url('../img/Vector2-2.png');
    min-height: 1347px;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: -1469px;
}

.vector2-3{
    background-image: url('../img/Vector2-3.png');
    min-height: 741px;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: -660px;
}
