<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title AIR PRO
        //- UI
        link(rel="stylesheet", href="./plugins/ui/jquery-ui.min.css")
        link(rel="stylesheet", href="./plugins/ui/jquery-ui.css")
        //- Animate css
        link(rel="stylesheet", href="./plugins/animate-css/animate.css")
        //- YOUTUBER
        link(rel="stylesheet", href="./plugins/youtuber/youtuber.css")
        <link rel="shortcut icon" href="./img/icon.png" type="image/png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        link(rel="stylesheet", href="./css/main.min.css")
    body
        include ../components/Layout/Content/_header-flights.pug
        include ../components/Layout/Footer/_footer.pug




        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.min.js')
        script(src="./plugins/ui/jquery-ui.min.js")
        script(src="./plugins/wow/wow.js")
        script(src="./plugins/youtuber/youtuber.js")
        //- script(src="./plugins/youtuber/jquery.js")



        script.
            $( function() {
            $( ".datepicker" ).datepicker();
            } );
        script.
            $( function() {
            $( "#accordion" ).accordion();
            } );
        script.
            $(window).scroll(function (){
                $(' .mov').each(function (){
                    var imagePos = $(this).offset().top;
                    var topOfWindow = $(window).scrollTop();
                    if (imagePos < topOfWindow+500) {
                        $(this).addClass('fadeInLeft');
                    }
                });
            });
        script.
            wow = new WOW(
                      {
                      boxClass:     'wow',      // default
                      animateClass: 'animated', // default
                      offset:       200,          // default
                      mobile:       true,       // default
                      live:         true        // default
                    }
                    )
                    wow.init();
        //- script.
        //-     $(window).scroll(function() {
        //-     var height = $(window).scrollTop();
        //-     /*Если сделали скролл на 100px задаём новый класс для header*/
        //-     if(height > 5000){
        //-     $('flights__ad').addClass('flights__ad--block');
        //-     } else{
        //-     /*Если меньше 100px удаляем класс для header*/
        //-     $('header').removeClass('header-fixed');
        //-     }
        //-     });
                    
        script(type='text/javascript').
            jQuery(function(f){
            var element = f('.flights__ad');
            f(window).scroll(function(){
            element['fade'+ (f(this).scrollTop() > 2500 ? 'In': 'Out')](1000);
            });
            });