<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title AIR PRO
        <link rel="shortcut icon" href="./img/icon.png" type="image/png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        link(rel="stylesheet", href="./css/main.min.css")
    body
        include ../components/Layout/Content/_header-popular.pug
        include ../components/Layout/Content/_offers.pug
        include ../components/Layout/Content/_buttons.pug
        include ../components/Layout/Content/_reviews.pug