.vector3
    .booking
        .container
            .booking__content
                h1 Забронируйте отели со скидкой до 60%
                h2 
                    | Забронируйте отели со <br/>
                    | скидкой до 60%
            .booking__info
                p
                    | Мы анализируем более 1млн. <br/>
                    | вариантов размещений, чтобы <br/>
                    | найти для вас лучшие <br/>
                    | предложения отелей по <br/>
                    | выгодной цене. <br/>
            .booking__hotel
                p
                    | отели рима <br/>
                    | отели стамбула <br/>
                    | отели барселоны <br/>
                    | отели афин <br/>
                    | отели тбилиси <br/>
                span 9582 вариантов <br/>
                span 2049 вариантов <br/>
                span 2576 вариантов <br/>
                span 1730 вариантов <br/>
                span 3961 вариант <br/>
            .booking__search
                p Бронируйте сейчас - платите при заезде!
                    button(type="submit" name="tel" ).booking__btn Искать отели