

.buttons
    .container
        .row
            .col.col-6.offset-5
                .buttons__years
                    button(type="submit" name="years" ).years__btn
                            a(href="javascript:void(0)") посмотреть билеты в календаре
                                img(src="./img/kalendar.png", alt="")
        .row
            .col.col-8.offset-4 
                .buttons__hotel
                    h1 Забронируйте отели со скидкой до 70%
                    p Бронируйте сейчас - платите при заезде
                        button(type="submit" name="new-hotels" ).new-hotels__btn Искать отели