
.header-vector2-1
	.header
		.container
			.header__logo
				a(href="index.html") AIR PRO
			.header__nav
				nav.nav
					ul.nav__list
						li.nav__item
							a(href="flights.html", title="авиабилеты").nav__link авиабилеты
						li.nav__item
							a(href="javascript:void(0)", title="авиаскидки").nav__link авиаскидки
						li.nav__item
							a(href="javascript:void(0)", title="Отели со скидкой ").nav__link Отели со скидкой 
						li.nav__item
							a(href="javascript:void(0)", title="Авиа + отель").nav__link Авиа + отель
						li.nav__item-lang
							a(href="javascript:void(0)", title="EN").nav__link-lang EN
							| / 
							a(href="javascript:void(0)", title="RU").nav__link-lang RU
			.header__form
				form( method="get")
					input(placeholder="Введите номер телефона")
					button(type="tel" name="tel" ).header__btn связаться
			.row
				.col.col-3
					.header__email
						p
							| Получайте уведомления об  <br/>
							| изменении цен на ваш e-mail <br/>
						form( method="get")
							input( type="email" placeholder="Введите ваш e-mail")
							button(type="tel" name="tel" ).header-popular__btn Следить за ценой
					.offer__info
						h3 Фильтры
						div
							input#check(type='checkbox', name='direct-flights')
							label(for='check') Только прямые рейсы
						div
							input#check1(type='checkbox', name='weekend')
							label(for='check1') Только уик-энд
						div
							input#check2(type='checkbox', name='immediate-3months')
							label(for='check2') Вылет  в ближайшие 3 месяца
						div
							input#check3(type='checkbox', name='immediate-6months')
							label(for='check3') Вылет  в ближайшие 6 месяцев
						hr
						h3.offer__info--h3-margin Цены
						p
							#slider-range(style='background: #89D8F1; height:5px;')
							label(for='amount')
							input#amount(type='text', readonly='', style='border:0; color:black; padding-left: 41px; color:#f6931f; font-weight:bold;margin-top:10px;')
						hr
						h3.offer__info--h3-margin Страна вылета
						div
							input#check-ukraine(type='checkbox', name='ukraine')
							label(for='check-ukraine') Украина
						div
							input#check-poland(type='checkbox', name='poland')
							label(for='check-poland') Польша
						div
							input#check-moldova(type='checkbox', name='moldova')
							label(for='check-moldova') Молдова
						div
							input#check-russia(type='checkbox', name='russia' disabled)
							label(for='check-russia') Россия
						hr
						h3.offer__info--h3-margin Город вылета
						div
							input#check-kiev(type='checkbox', name='kiev')
							label(for='check-kiev') Киев
						div
							input#check-odessa(type='checkbox', name='odessa')
							label(for='check-odessa') Одесса
						div
							input#check-Lviv(type='checkbox', name='Lviv')
							label(for='check-Lviv') Львов
						div
							input#check-zaporizhia(type='checkbox', name='zaporizhia' )
							label(for='check-zaporizhia') Запорожье
						div
							input#check-kharkov(type='checkbox', name='kharkov' )
							label(for='check-kharkov') Харьков
						#accordion.accordion
							h3 Длительность поездки
							div
								div
									input#check-3(type='checkbox', name='>3')
									label(for='check-3') Меньше 3 часов
								div
									input#check-4(type='checkbox', name='<3')
									label(for='check-4') Больше 3 часов
								div
									input#check-10(type='checkbox', name='<10' )
									label(for='check-10') Больше 10 часов
								div.accordion--height
									input#check-15(type='checkbox', name='<15' )
									label(for='check-15') Больше 15 часов
							h3 Месяц вылета
							div
								div
									input#check-January(type='checkbox', name='January')
									label(for='check-January') Январь
								div
									input#check-February(type='checkbox', name='February')
									label(for='check-February') Февраль
								div
									input#check-March(type='checkbox', name='March' )
									label(for='check-March') Март
								div
									input#check-April(type='checkbox', name='April' )
									label(for='check-April') Апрель
								div
									input#check-May(type='checkbox', name='May')
									label(for='check-May') Май
								div
									input#check-June(type='checkbox', name='June')
									label(for='check-June') Июнь
								div
									input#check-July(type='checkbox', name='July' )
									label(for='check-July') Июль
								div
									input#check-August(type='checkbox', name='August' )
									label(for='check-August') Август
								div
									input#check-September(type='checkbox', name='September')
									label(for='check-September') Сентябрь
								div
									input#check-October(type='checkbox', name='October')
									label(for='check-October') Октябрь
								div
									input#check-November(type='checkbox', name='November' )
									label(for='check-November') Ноябрь
								div
									input#check-December(type='checkbox', name='December' )
									label(for='check-December') Декабрь
							h3 Авиакомпании
							div
								div
									input#check-Qatar-air(type='checkbox', name='Qatar-air')
									label(for='check-Qatar-air') Qatar Airways
								div
									input#check-Emirates(type='checkbox', name='Emirates')
									label(for='check-Emirates') Emirates
								div
									input#check-Lufthansa(type='checkbox', name='Lufthansa' )
									label(for='check-Lufthansa') Lufthansa
								div
									input#check-Turkish-air(type='checkbox', name='Turkish-air' )
									label(for='check-Turkish-air') Turkish-air
							h3 Скидка
							div
								div
									input#check10(type='checkbox', name='10%')
									label(for='check10') 0 - 10%
								div
									input#check11(type='checkbox', name='25%')
									label(for='check11') 11-25%
								div
									input#check50(type='checkbox', name='50%' )
									label(for='check50') 26-50%
								div
									input#check99(type='checkbox', name='99%' )
									label(for='check99') 51-99%
							h3 Виза 
							div
								div
									input#check-visa-yes(type='checkbox', name='visa-yes' )
									label(for='check-visa-yes') Да
								div
									input#check-visa-not(type='checkbox', name='visa-not' )
									label(for='check-visa-not') Нет
							h3 Способ оплаты  
							div
								div
									input#check-In-cash(type='checkbox', name='In-cash' )
									label(for='check-In-cash') Налиными
								div
									input#check-By-card(type='checkbox', name='By-card' )
									label(for='check-By-card') Картой
				.col.col-3
					.offers
						h2 
							| Популярные акционные <br/>
							| предложения
					.offers__content.offers__content--antalia
						img(src="./img/foto01.png")
						span -75%
						.offers__card
							h1 Анталья, 
							p
								| Вылет из города: Одесса <br/>
								| 03.09.2018 - 19.09.2018 /
							h2 2749
							h4 цена в обе стороны
							button(type="tel" name="tel" ).card__btn Купить
					.offers__content.offers__content--paris
						img(src="./img/foto04.png")
						span -30%
						.offers__card.offers__card--paris
							h1 Париж,
							p
								| Вылет из города: Киев <br/>
								| 23.09.2018 - 02.10.2018 /
							h2 8836
							h4 цена в обе стороны
							button(type="tel" name="tel" ).card__btn Купить
					.offers__content.offers__content--berlin
						img(src="./img/foto08.png")
						span -33%
						.offers__card.offers__card--berlin
							h1 Берлин,
							p
								| Вылет из города: Львов <br/>
								| 15.06.2018 - 29.10.2018 /
							h2 2898
							h4 цена в обе стороны
							button(type="tel" name="tel" ).card__btn Купить
					.offers__content.offers__content--rim
						img(src="./img/foto10.png")
						span -67%
						.offers__card.offers__card--rim
							h1 Рим,
							p
								| Вылет из города: Одесса <br/>
								| 11.10.2018 - 25.10.2018 /
							h2 4695
							h4 цена в обе стороны
							button(type="tel" name="tel" ).card__btn Купить
				.col.col-3
					.offers__content.offers__content--liccabon
						img(src="./img/foto02.png")
						span -85%
						.offers__card.offers__card--liccabon
							h1 Лиссабон, 
							p
								| Вылет из города: Киев <br/>
								| 11.08.2018 - 29.10.2018 /
							h2 7076
							h4 цена в обе стороны
							button(type="tel" name="tel" ).card__btn Купить
					.offers__content.offers__content--stokgolm
						img(src="./img/foto05.png")
						span -87%
						.offers__card.offers__card--stokgolm
							h1 Стокгольм,
							p
								| Вылет из города: Киев <br/>
								| 03.12.2018 - 22.12.2018 /
							h2 10 076
							h4 цена в обе стороны
							button(type="tel" name="tel" ).card__btn Купить
					.offers__content.offers__content--dybai
						img(src="./img/foto07.png")
						span -45%
						.offers__card.offers__card--dybai
							h1 Дубай, 
							p
								| Вылет из города: Одесса <br/>
								| 13.10.2018 - 23.10.2018 /
							h2 5650
							h4 цена в обе стороны
							button(type="tel" name="tel" ).card__btn Купить
					.offers__content.offers__content--grace
						img(src="./img/foto11.png")
						span -37%
						.offers__card.offers__card--grace
							h1 Санторини, 
							p
								| Вылет из города: Одесса <br/>
								| 07.07.2018 - 14.07.2018 /
							h2 6890
							h4 цена в обе стороны
							button(type="tel" name="tel" ).card__btn Купить
				.col.col-3
					.offers__content.offers__content--barselona
						img(src="./img/foto03.png")
						span -65%
						.offers__card.offers__card--barselona
							h1 Барселона,
							p
								| Вылет из города: Киев <br/>
								| 19.12.2018 - 07.01.2019 /
							h2 2532
							h4 цена в обе стороны
							button(type="tel" name="tel" ).card__btn Купить
					.offers__content.offers__content--poland
						img(src="./img/foto06.png")
						span -33%
						.offers__card.offers__card--poland
							h1 Гданьск,
							p
								| Вылет из города: Киев <br/>
								| 24.06.2018 - 05.07.2019 /
							h2 2532
							h4 цена в обе стороны
							button(type="tel" name="tel" ).card__btn Купить
					.offers__content.offers__content--london
						img(src="./img/foto09.png")
						span -37%
						.offers__card.offers__card--london
							h1 Лондон, 
							p
								| Вылет из города: Одесса <br/>
								| 07.06.2018 - 10.06.2018 /
							h2 2872
							h4 цена в обе стороны
							button(type="tel" name="tel" ).card__btn Купить
					.offers__content.offers__content--taxi
						img(src="./img/foto12.png")
						span -42%
						.offers__card.offers__card--taxi
							h1 Дубровник,  
							p
								| Вылет из города: Одесса <br/>
								| 05.09.2018 - 23.09.2018 /
							h2 10 890
							h4 цена в обе стороны
							button(type="tel" name="tel" ).card__btn Купить