
.vector3-1
    .container
        .header__logo.header__logo--black
            a(href="index.html") AIR PRO
        .header__nav
            nav.nav
                ul.nav__list
                    li.nav__item
                        a(href="offers.html", title="УСЛУГИ").nav__link.nav__link--black УСЛУГИ
                    li.nav__item
                        a(href="javascript:void(0)", title="МОИ БРОНИРОВАНИЕ").nav__link.nav__link--black МОИ БРОНИРОВАНИЕ
                    li.nav__item
                        a(href="javascript:void(0)", title="РАСПИСАНИЕ РЕЙСОВ").nav__link.nav__link--black РАСПИСАНИЕ РЕЙСОВ
                    li.nav__item
                        a(href="javascript:void(0)", title="АКЦИИ").nav__link.nav__link--black АКЦИИ
                    li.nav__item-lang.nav__link--lang
                        a(href="javascript:void(0)", title="EN").nav__link-lang.nav__link--lang EN
                        | / 
                        a(href="javascript:void(0)", title="RU").nav__link-lang RU
        .header__form
            form( method="get")
                input(placeholder="Введите номер телефона")
                button(type="tel" name="tel" ).header__btn связаться
        .row
            .col.col-10.offset-1
                .avia__content.flights--margin
                    .avia__radio#js-active-radio
                        div
                            input#radio(type='radio', name='radio' checked)
                            label(for='radio').qwerty--active В обе стороны
                        div
                            input#radio1(type='radio', name='radio')
                            label(for='radio1') В одну сторону
                        div
                            input#radio2(type='radio', name='radio')
                            label(for='radio2') с пересадками
                    .avia__place
                        .avia__whence
                            h3 Откуда
                            img(src="./img/plane01.png", alt="")
                            form(method="get")
                                input(type="text" placeholder="Киев")
                            p Аэропорт Борисполь ... (KBP)
                        .avia__where
                            h3 куда
                            img(src="./img/plane02.png", alt="")
                            form(method="get")
                                input(type="text" placeholder="Введите название города")
                            p Аэропорт Борисполь ... (KBP)
                        .avia__date-there
                            h3 туда
                            img(src="./img/calendar.png", alt="")
                            form(method="get")
                                input.datepicker(type='text' placeholder='06/05/2019')
                            p Даты
                        .avia__date-back
                            h3 обратно
                            img(src="./img/calendar.png", alt="")
                            form(method="get")
                                input.datepicker(type='text' placeholder='06/05/2019')
                            p Даты
                        .avia__class
                            h3 eco
                                img(src="./img/chel.png", alt="")
                                select(name="class" ) 
                                    option(value="1" selected) 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="5") 4
                                    option(value="5") 5
                            p Класс
                        .flights__button
                            form( method="get")
                                button(type="text" name="search" ).flights__btn поиск
        .row
            .col.col-3 
                .header__email
                    p
                        | Получайте уведомления об  <br/>
                        | изменении цен на ваш e-mail <br/>
                    form( method="get")
                        input( type="email" placeholder="Введите ваш e-mail")
                        button(type="tel" name="tel" ).header-popular__btn Следить за ценой
                .offer__info
                    h3 Фильтры
                    div
                        input#check-Only-direct-flights(type='checkbox', name='Only-direct-flights')
                        label(for='check-Only-direct-flights') Только прямые рейсы
                    div
                        input#check-Only-with-luggage(type='checkbox', name='Only-with-luggage')
                        label(for='check-Only-with-luggage') Только с багажом
                    hr
                    h3.offer__info--h3-margin Багаж
                    div
                        input#check-all-luggage(type='checkbox', name='all-luggage' checked)
                        label(for='check-all-luggage') Все
                    div
                        input#check-Luggage-not-included(type='checkbox', name='Luggage-not-included' checked)
                        label(for='check-Luggage-not-included') Багаж не включен
                    div
                        input#check-Luggage-included(type='checkbox', name='Luggage-included' checked)
                        label(for='check-Luggage-included') Багаж включен
                    hr
                    h3.offer__info--h3-margin Количество пересадок
                    div
                        input#check-all-transplants(type='checkbox', name='all-transplants')
                        label(for='check-all-transplants') Все
                    div
                        input#check-Direct-flights(type='checkbox', name='Direct-flights')
                        label(for='check-Direct-flights') Прямые рейсы
                    div
                        input#check-1-transfer(type='checkbox', name='1-transfer' )
                        label(for='check-1-transfer') 1 пересадка
                    div
                        input#check-2-or-more-transfer(type='checkbox', name='2-or-more-transfer' )
                        label(for='check-2-or-more-transfer') 2 и более
                    #accordion.accordion
                        h3 Длительность пересадки
                        div
                            div
                                input#check-1(type='checkbox', name='>1')
                                label(for='check-1') Меньше 1 часа
                            div
                                input#check-3(type='checkbox', name='<3')
                                label(for='check-3') Больше 1 часа
                            div
                                input#check-4(type='checkbox', name='<3' )
                                label(for='check-4') Больше 3 часов
                            div.accordion--height
                                input#check-5(type='checkbox', name='<5' )
                                label(for='check-5') Больше 5 часов
                        h3 Время в пути
                        div
                            div
                                input#check3(type='checkbox', name='>3')
                                label(for='check3') Меньше 3 часов
                            div
                                input#check4(type='checkbox', name='<3')
                                label(for='check4') Больше 3 часов
                            div
                                input#check-10(type='checkbox', name='<10' )
                                label(for='check-10') Больше 10 часов
                            div.accordion--height
                                input#check-15(type='checkbox', name='<15' )
                                label(for='check-15') Больше 15 часов
                        h3 Авиакомпании
                        div
                            div
                                input#check-Qatar-air(type='checkbox', name='Qatar-air')
                                label(for='check-Qatar-air') Qatar Airways
                            div
                                input#check-Emirates(type='checkbox', name='Emirates')
                                label(for='check-Emirates') Emirates
                            div
                                input#check-Lufthansa(type='checkbox', name='Lufthansa' )
                                label(for='check-Lufthansa') Lufthansa
                            div
                                input#check-Turkish-air(type='checkbox', name='Turkish-air' )
                                label(for='check-Turkish-air') Turkish-air
                        h3 Аэропорты
                        div
                            div
                                input#check-Beijing(type='checkbox', name='Beijing')
                                label(for='check-Beijing') Beijing Capital
                            div
                                input#check-Dubai(type='checkbox', name='Dubai')
                                label(for='check-Dubai') Dubai International
                            div
                                input#check-London(type='checkbox', name='London' )
                                label(for='check-London') London Heathrow
                            div
                                input#check-Paris(type='checkbox', name='Paris' )
                                label(for='check-Paris') Paris Charles de Gaulle
                        h3 Аэропорт пересадки 
                        div
                            div
                                input#check-New-Yor(type='checkbox', name='New-Yor')
                                label(for='check-New-Yor') New York JFK
                            div
                                input#check-Singapore(type='checkbox', name='Singapore')
                                label(for='check-Singapore') Singapore Changi
                            div
                                input#check-Madrid(type='checkbox', name='Madrid' )
                                label(for='check-Madrid') 	Madrid Barajas
                            div
                                input#check-Barcelona(type='checkbox', name='Barcelona' )
                                label(for='check-Barcelona') Barcelona	El Prat
                        h3 Способ оплаты  
                        div
                            div
                                input#check-In-cash(type='checkbox', name='In-cash' )
                                label(for='check-In-cash') Налиными
                            div
                                input#check-By-card(type='checkbox', name='By-card' )
                                label(for='check-By-card') Картой
                        h3 Цена билета
                        div
                            div
                                input#check10000(type='checkbox', name='10000' )
                                label(for='check10000') До 10000 грн.
                            div
                                input#check20000(type='checkbox', name='20000' )
                                label(for='check20000') До 20000 грн.
                            div
                                input#check50000(type='checkbox', name='50000' )
                                label(for='check50000') До 50000 грн.
                            div
                                input#check100000(type='checkbox', name='100000' )
                                label(for='check100000') До 100000 грн.
            .col.col-9  
                .flights <!-- KYIV-VENA -->
                    h1 Прямые рейсы
                .flights__content
                    .flights__company
                        h2 Бизнес-класс
                        img(src="./img/MAY.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 09:55
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс LX - 1245
                    .flights__time
                        p 3 ч 45 мин
                        img(src="./img/button.png", alt="")
                    .flights__info-finish
                        h1 12:40
                        span 26 мая 2018
                        h2 Вена  VIE
                        span Рейс LH - 1163
                .flights__content
                    .flights__company.flights__company--margin
                        h2 Бизнес-класс
                        img(src="./img/MAY.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 13:30
                        span 26 мая 2018
                        h2 Вена  VIE
                        span Рейс LX - 1245
                    .flights__time
                        p 3 ч 30 мин
                        img(src="./img/button.png", alt="")
                    .flights__info-finish
                        h1 18:00 
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс x21 - 63c
                .flights__byuing
                    p 12431
                    button(type="submit" name="buy-ticket" ).flights__btn Купить
                .flights <!-- KYIV-MYNHEN-VENA -->
                    h2 рейсы с пересадками
                .flights__content
                    .flights__company
                        h2 Бизнес-класс
                        img(src="./img/MAY.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 10:20
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс LX - 1245
                    .flights__time
                        p 17 ч 10 мин
                        img(src="./img/buttons.png", alt="")
                        h3 Мюнхен  MUC
                    .flights__info-finish
                        p Ту - 124
                        h3 07:00 
                        span 26 мая 2018
                        h2 Вена  VIE
                        span Рейс LH - 1163c
                .flights__content
                    .flights__company.flights__company--margin
                        h2 Бизнес-класс
                        img(src="./img/MAY.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 08:05
                        span 26 мая 2018
                        h2 Вена  VIE
                        span Рейс LX - 1245
                    .flights__time
                        p 13 ч 10 мин
                        img(src="./img/buttons.png", alt="")
                        h3 Мюнхен  MUC
                    .flights__info-finish.flights__info-finish--margin-top
                        p Ту - 124
                        h3 13:30 
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс x21 - 63c
                .flights__byuing
                    p 19905
                    button(type="submit" name="buy-ticket" ).flights__btn Купить
                .flights  <!-- KYIV-ZYRIH-VENA -->
                .flights__content.flights__content--margin
                    .flights__company.flights__company--img
                        h2 Бизнес-класс
                        img(src="./img/cap-avia.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 08:30
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс LX - 1245
                    .flights__time
                        p 17 ч 10 мин
                        img(src="./img/buttons.png", alt="")
                        h3  Цюрих  ZRH
                    .flights__info-finish
                        p Ту - 124
                        h3 04:00 
                        span 26 мая 2018
                        h2 Вена  VIE
                        span Рейс LH - 1163c
                .flights__content
                    .flights__company.flights__company--img
                        h2 Бизнес-класс
                        img(src="./img/cap-avia.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 19:20
                        span 26 мая 2018
                        h2 Вена  VIE
                        span Рейс LX - 1245
                    .flights__time
                        p 15 ч 40 мин
                        img(src="./img/buttons.png", alt="")
                        h3 Цюрих  ZRH
                    .flights__info-finish.flights__info-finish--margin-top
                        p Ту - 124
                        h3 15:30 
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс x21 - 63c
                .flights__byuing
                    p 23485
                    button(type="submit" name="buy-ticket" ).flights__btn Купить
                .buttons__hotel.buttons__hotel--margin
                    h1 Забронируйте отели со скидкой до 70%
                    p Бронируйте сейчас - платите при заезде
                        button(type="submit" name="new-hotels" ).new-hotels__btn Искать отели
                .flights  <!-- KYIV-MYNHEN-VENA -->
                .flights__content.flights__content--margin
                    .flights__company
                        h2 Бизнес-класс
                        img(src="./img/emirates.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 10:20
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс LX - 1245
                    .flights__time
                        p 17 ч 10 мин
                        img(src="./img/buttons.png", alt="")
                        h3  Мюнхен  MUC
                    .flights__info-finish
                        p Ту - 124
                        h3 07:00 
                        span 26 мая 2018
                        h2 Вена  VIE
                        span Рейс LH - 1163c
                .flights__content
                    .flights__company
                        h2 Бизнес-класс
                        img(src="./img/emirates.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 08:05
                        span 26 мая 2018
                        h2 Вена  VIE
                        span Рейс LX - 1245
                    .flights__time
                        p 13 ч 10 мин
                        img(src="./img/buttons.png", alt="")
                        h3 Мюнхен  MUC
                    .flights__info-finish.flights__info-finish--margin-top
                        p Ту - 124
                        h3 13:30 
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс x21 - 63c
                .flights__byuing
                    p 22903
                    button(type="submit" name="buy-ticket" ).flights__btn Купить
                .flights  <!-- KYIV-PARIS-VENA -->
                .flights__content.flights__content--margin
                    .flights__company.flights__company--under-ad
                        h2 Бизнес-класс
                        img(src="./img/6.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 13:20
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс LX - 1245
                    .flights__time
                        p 14 ч 25 мин
                        img(src="./img/buttons.png", alt="")
                        h3  Париж  FRA
                    .flights__info-finish
                        p Ту - 124
                        h3 06:30
                        span 26 мая 2018
                        h2 Вена  VIE
                        span Рейс LH - 1163c
                .flights__content
                    .flights__company.flights__company--under-ad.flights__company--margin
                        h2 Бизнес-класс
                        img(src="./img/6.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 05:30
                        span 26 мая 2018
                        h2 Барселона BCN
                        span Рейс LX - 1245
                    .flights__time
                        p 16 ч 20 мин
                        img(src="./img/buttons.png", alt="")
                        h3 Париж  FRA
                    .flights__info-finish.flights__info-finish--margin-top
                        p Ту - 124
                        h3 23:30  
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс x21 - 63c
                .flights__byuing
                    p 29894
                    button(type="submit" name="buy-ticket" ).flights__btn Купить
                .flights__ad.animated.mov
                    p на правах рекламы 
                    img(src="./img/ad.png", alt="")
                    .flights__ad--info
                        h1 Закажи карту для путешествий 
                        h2 Получи страховку бесплатно
                        span  idea.me
                    .flights__ad--watch
                        span cмотреть
                .flights  <!-- KYIV-MYNHEN-VENA -->
                .flights__content.flights__content--margin
                    .flights__company
                        h2 Бизнес-класс
                        img(src="./img/emirates.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 11:20
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс LX - 1245
                    .flights__time
                        p 17 ч 10 мин
                        img(src="./img/buttons.png", alt="")
                        h3  Мюнхен  MUC
                    .flights__info-finish
                        p Ту - 124
                        h3 04:50 
                        span 26 мая 2018
                        h2 Вена  VIE
                        span Рейс LH - 1163c
                .flights__content
                    .flights__company
                        h2 Бизнес-класс
                        img(src="./img/emirates.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 08:40
                        span 26 мая 2018
                        h2 Вена  VIE
                        span Рейс LX - 1245
                    .flights__time
                        p 13 ч 10 мин
                        img(src="./img/buttons.png", alt="")
                        h3 Мюнхен  MUC
                    .flights__info-finish.flights__info-finish--margin-top
                        p Ту - 124
                        h3 13:30 
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс x21 - 63c
                .flights__byuing
                    p 22903
                    button(type="submit" name="buy-ticket" ).flights__btn Купить
                .flights  <!-- KYIV-PARIS-VENA -->
                .flights__content.flights__content--margin
                    .flights__company.flights__company--under-ad
                        h2 Бизнес-класс
                        img(src="./img/6.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 13:20
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс LX - 1245
                    .flights__time
                        p 14 ч 25 мин
                        img(src="./img/buttons.png", alt="")
                        h3  Париж  FRA
                    .flights__info-finish
                        p Ту - 124
                        h3 06:30
                        span 26 мая 2018
                        h2 Вена  VIE
                        span Рейс LH - 1163c
                .flights__content
                    .flights__company.flights__company--under-ad.flights__company--margin
                        h2 Бизнес-класс
                        img(src="./img/6.png", alt="")
                    .flights__info-start
                        p Boeing 737
                        h1 08:40
                        span 26 мая 2018
                        h2 Барселона BCN
                        span Рейс LX - 1245
                    .flights__time
                        p 16 ч 20 мин
                        img(src="./img/buttons.png", alt="")
                        h3 Париж  FRA
                    .flights__info-finish.flights__info-finish--margin-top
                        p Ту - 124
                        h3 13:30  
                        span 26 мая 2018
                        h2 Киев KBP
                        span Рейс x21 - 63c
                .flights__byuing
                    p 29894
                    button(type="submit" name="buy-ticket" ).flights__btn Купить
                .col.col-4.offset-4
                    .flights__accordion-btn
                        h2 Показать еще 1 билет
                .flights__info-block
                    h1 Не нашли подходящие билеты?
                    p 
                        | Используйте фильтры чтобы найти билеты быстрее. Выберите 
                        span количество и время 
                        | пересадок, 
                        span время вылета и прилета, 
                        | нужные 
                        span агенства и авиакомпании. 
                