
.vector2-2 
    .offers
        .container
            .row
                .col.col-3
                    .offers__info
                .col.col-3
                    .offers-popular
                        .offers__content--paris
                            img(src="./img/foto04.png")
                            span -30%
                            .offers__card--paris
                                h1 Париж,
                                p
                                    | Вылет из города: Киев <br/>
                                    | 23.09.2018 - 02.10.2018 /
                                h2 8836
                                h4 цена в обе стороны
                                button(type="tel" name="tel" ).card__btn Купить
                .col.col-3
                    .offers-popular
                        .offers__content--stokgolm
                            img(src="./img/foto05.png")
                            span -87%
                            .offers__card--stokgolm
                                h1 Стокгольм,
                                p
                                    | Вылет из города: Киев <br/>
                                    | 03.12.2018 - 22.12.2018 /
                                h2 10 076
                                h4 цена в обе стороны
                                button(type="tel" name="tel" ).card__btn Купить
                .col.col-3
                    .offers-popular
                        .offers__content--poland
                            img(src="./img/foto06.png")
                            span -33%
                            .offers__card--poland
                                h1 Гданьск,
                                p
                                    | Вылет из города: Киев <br/>
                                    | 24.06.2018 - 05.07.2019 /
                                h2 2532
                                h4 цена в обе стороны
                                button(type="tel" name="tel" ).card__btn Купить
                .col.col-3.offset-3
                    .offers-popular
                        .offers__content--berlin
                            img(src="./img/foto08.png")
                            span -33%
                            .offers__card--berlin
                                h1 Берлин,
                                p
                                    | Вылет из города: Львов <br/>
                                    | 15.06.2018 - 29.10.2018 /
                                h2 2898
                                h4 цена в обе стороны
                                button(type="tel" name="tel" ).card__btn Купить
                .col.col-3
                    .offers-popular
                        .offers__content--dybai
                            img(src="./img/foto07.png")
                            span -45%
                            .offers__card--dybai
                                h1 Дубай, 
                                p
                                    | Вылет из города: Одесса <br/>
                                    | 13.10.2018 - 23.10.2018 /
                                h2 5650
                                h4 цена в обе стороны
                                button(type="tel" name="tel" ).card__btn Купить
                .col.col-3
                    .offers-popular
                        .offers__content--london
                            img(src="./img/foto09.png")
                            span -37%
                            .offers__card--london
                                h1 Лондон, 
                                p
                                    | Вылет из города: Одесса <br/>
                                    | 07.06.2018 - 10.06.2018 /
                                h2 2872
                                h4 цена в обе стороны
                                button(type="tel" name="tel" ).card__btn Купить
                .col.col-3.offset-3
                    .offers-popular
                        .offers__content--rim
                            img(src="./img/foto10.png")
                            span -67%
                            .offers__card--rim
                                h1 Рим,
                                p
                                    | Вылет из города: Одесса <br/>
                                    | 11.10.2018 - 25.10.2018 /
                                h2 4695
                                h4 цена в обе стороны
                                button(type="tel" name="tel" ).card__btn Купить
                .col.col-3
                    .offers-popular
                        .offers__content--grace
                            img(src="./img/foto11.png")
                            span -37%
                            .offers__card--grace
                                h1 Санторини, 
                                p
                                    | Вылет из города: Одесса <br/>
                                    | 07.07.2018 - 14.07.2018 /
                                h2 6890
                                h4 цена в обе стороны
                                button(type="tel" name="tel" ).card__btn Купить
                .col.col-3
                    .offers-popular
                        .offers__content--taxi
                            img(src="./img/foto12.png")
                            span -42%
                            .offers__card--taxi
                                h1 Дубровник,  
                                p
                                    | Вылет из города: Одесса <br/>
                                    | 05.09.2018 - 23.09.2018 /
                                h2 10 890
                                h4 цена в обе стороны
                                button(type="tel" name="tel" ).card__btn Купить
.vector2-3