
.vector4
    .popular
        .container
            .row
                .col.col-4
                    .popular__info
                        h1 популярные направления
                        p Узнай лучшие цены на весь год! 
                        button(type="submit" name="tel" ).popular__btn все направления
                .col.col-3
                    .popular__content
                        img(src="./img/popular1.png")
                        h1 Нью-Йорк
                        p США
                .col.col-3
                    .popular__content
                        img(src="./img/popular2.png")
                        h1 Вена
                        p Австрия
                .col.col-2
                    .popular__content
                        img(src="./img/popular3.png")
                        h1 Барселона
                        p Испания
                .col.col-3.offset-4
                    .popular__content2
                        img(src="./img/popular4.png")
                        h1 Стамбул
                        p Турция
                .col.col-3
                    .popular__content2
                        img(src="./img/popular5.png")
                        h1 Будва
                        p Черногория
                .col.col-2
                    .popular__content2
                        img(src="./img/popular6.png")
                        h1 Прага
                        p Чехия
                .col.col-3.offset-4
                    .popular__content3
                        img(src="./img/popular7.png")
                        h1 Тель-Авив
                        p Израиль
                .col.col-3
                    .popular__content3
                        img(src="./img/popular8.png")
                        h1 Амстердам
                        p Нидерланды
                .col.col-2
                    .popular__content3
                        img(src="./img/popular9.png")
                        h1 Лондон
                        p Великобритания
                
                