
.vector4
    .popular
        .container
            .popular--background
                .row
                    .col.col-4.col.col-sm-12.col-md-12.col-lg-12
                        .popular__info
                            h1 популярные направления
                            p Узнай лучшие цены на весь год! 
                            button(type="submit" name="tel" ).popular__btn все направления
                    .col.col-8.col.col-sm-12.col-md-12.col-lg-12
                        .row
                            .col.col-4.col-sm-6.col-md-4.col-lg-4
                                .popular__content.popular__content--row1
                                    img(src="./img/popular1.png")
                                    h1 Нью-Йорк
                                    p США
                                .popular__content.popular__content--row2
                                    img(src="./img/popular4.png")
                                    h1 Стамбул
                                    p Турция
                                .popular__content.popular__content--row3
                                    img(src="./img/popular7.png")
                                    h1 Тель-Авив
                                    p Израиль
                            .col.col-4.col.col-sm-6.col-md-4.col-lg-4
                                .popular__content.popular__content--row1
                                    img(src="./img/popular2.png")
                                    h1 Вена
                                    p Австрия
                                .popular__content.popular__content--row2
                                    img(src="./img/popular5.png")
                                    h1 Будва
                                    p Черногория
                                .popular__content.popular__content--row3
                                    img(src="./img/popular8.png")
                                    h1 Амстердам
                                    p Нидерланды
                            .col.col-4.col-sm-6.col-md-4.col-lg-4
                                .popular__content.popular__content--row1
                                    img(src="./img/popular3.png")
                                    h1 Барселона
                                    p Испания
                                .popular__content.popular__content--row2.popular__content-none
                                    img(src="./img/popular6.png")
                                    h1 Прага
                                    p Чехия
                                .popular__content.popular__content--row3.popular__content-none
                                    img(src="./img/popular9.png")
                                    h1 Лондон
                                    p Великобритания
                        .row
                            .col.col-sm-12.col.col-lg-12
                                .popular__infos
                                    button(type="submit" name="tel" ).popular__btn все направления