.vector02
    .stock
        .container
            .row
                .col.col-4.col.col-sm-12.col-md-12.col-lg-12.col.col-xl-4
                    .stock__popular
                        h1 
                            | Популярные акционные предложения на <br/>
                            | авиабилеты по всему миру!
                        h2 Популярные акционные 
                        h2 предложения
                        br
                        p Из Киева в Лондон от 99 €! 
                        p Специальное предложение от 
                        p авиакомпании Ukraine Intl.Из
                        p Киева в Стамбул от 100 $! 
                        p Специальное предложение от 
                        p авиакомпании Turkish Airlines
                .col.col-8.col-sm-12.offset-sm-0.col-md-12.col-lg-12.offset-lg-0.col.col-xl-8
                    .row
                        .col.col-4.col-sm-12.col-md-6.col.col-lg-4.col.col-xl-4
                            .stock__foto
                                img(src="./img/foto01.png")
                                span -75%
                                h1 Анталья
                                p
                                    | Из Одессы в Анталью от 96 €! <br/>
                                    | Специальное предложение от <br/>
                                    | авиакомпании Vueling <br/>
                            .stock__foto.stock__foto--paris
                                img(src="./img/foto04.png")
                                span -30%
                                h1 Париж
                                p
                                    | Из Киева в Париж от 207 €! <br/>
                                    | Специальное предложение от <br/>
                                    | авиакомпании Ukraine Intl <br/>
                            .stock__fotoes.stock__fotoes--spain
                                img(src="./img/foto03.png")
                                span -65%
                                h1 Барселона
                                p
                                    | Из Киева в Барселону от 80 €! <br/>
                                    | Специальное предложение от <br/>
                                    | авиакомпании RyanAir <br/>
                        .col.col-4.col-sm-12.col-md-6.col.col-lg-4.col.col-xl-4
                            .stock__foto.stock__foto--margin
                                img(src="./img/foto02.png")
                                span -85%
                                h1 Лиссабон
                                p
                                    | Из Киева в Лиссабон от 92 €! <br/>
                                    | Специальное предложение от <br/>
                                    | авиакомпании Wizz Air <br/>
                            .stock__foto.stock__foto--stokgolm
                                img(src="./img/foto05.png")
                                span -87%
                                h1 Стокгольм
                                p
                                    | Из Киева в Стокгольм от 45 €! <br/>
                                    | Специальное предложение от <br/>
                                    | авиакомпании Vueling <br/>
                            .stock__foto.stock__foto--dybay
                                img(src="./img/foto07.png")
                                span -25%
                                h1 Дубай
                                p
                                    | Из Киева в Дубай от 206 €! <br/>
                                    | Специальное предложение от <br/>
                                    | авиакомпании Flydubai <br/>
                        .col.col-4.col-sm-12.col-md-6.col.col-lg-4.col.col-xl-4
                            .stock__foto.stock__foto--spain
                                img(src="./img/foto03.png")
                                span -65%
                                h1 Барселона
                                p
                                    | Из Киева в Барселону от 80 €! <br/>
                                    | Специальное предложение от <br/>
                                    | авиакомпании RyanAir <br/>
                            .stock__foto.stock__foto--grad.stock__foto--none
                                img(src="./img/foto06.png")
                                span -33%
                                h1 Гданьск
                                p
                                    | Из Львова в Гданьск от 20 €! <br/>
                                    | Специальное предложение от <br/>
                                    | авиакомпании  RyanAir <br/>
                            