

.vector2-4
    .reviews
        .container
            .reviews__header
                h1 отзывы
                .slider-wrap
                    .slider
                        .slide
                        .review
                            .review__brand
                                img(src='./img/nikita.png', alt='')
                            .review__star
                                h2 Никита
                                img(src="./img/star.png", alt="")
                            .review__text
                                p
                                    | “ Всегда бронирую билеты на AIR PRO.  <br/>
                                    | Отличный сервис и выгодные цены,<br/>
                                    | 15 минут и вы уже в пути”.<br/>
                            .review__date
                                p 05.05.2017
                        .slide
                        .review
                            .review__brand
                                img(src='./img/daria.png', alt='')
                            .review__star
                                h2 Дарина
                                img(src="./img/star.png", alt="")
                            .review__text
                                p  
                                    | “Осталась глубоко поражена сервисом,  <br/>
                                    | быстро подобрали билеты и гостиницу.<br/>
                                    | Благодаря AIR PRO моя мечта сбылась”<br/>
                            .review__date
                                p 10.01.2018
                        .slide
                        .review
                            .review__brand
                                img(src='./img/miha.png', alt='')
                            .review__star
                                h2 Михайло
                                img(src="./img/star.png", alt="")
                            .review__text
                                p   

                                    | “Щиро дякую за вашу чудову роботу. <br/>
                                    | Швидко забронював квитки та готель i на <br/>
                                    | наступний день вiдправився вiдпочивати”.<br/>
                            .review__date
                                p 21.02.2018
                        .slide
                        .review
                            .review__brand
                                img(src='./img/nikita.png', alt='')
                            .review__star
                                h2 Никита
                                img(src="./img/star.png", alt="")
                            .review__text
                                p
                                    | “ Всегда бронирую билеты на AIR PRO.  <br/>
                                    | Отличный сервис и выгодные цены,<br/>
                                    | 15 минут и вы уже в пути”.<br/>
                            .review__date
                                p 05.05.2017
                        .slide
                        .review
                            .review__brand
                                img(src='./img/daria.png', alt='')
                            .review__star
                                h2 Дарина
                                img(src="./img/star.png", alt="")
                            .review__text
                                p  
                                    | “Осталась глубоко поражена сервисом,  <br/>
                                    | быстро подобрали билеты и гостиницу.<br/>
                                    | Благодаря AIR PRO моя мечта сбылась”<br/>
                            .review__date
                                p 10.01.2018
                        .slide
                        .review
                            .review__brand
                                img(src='./img/miha.png', alt='')
                            .review__star
                                h2 Михайло
                                img(src="./img/star.png", alt="")
                            .review__text
                                p   

                                    | “Щиро дякую за вашу чудову роботу. <br/>
                                    | Швидко забронював квитки та готель i на <br/>
                                    | наступний день вiдправився вiдпочивати”.<br/>
                            .review__date
                                p 21.02.2018