
.subscribe
    .container
        .subscribe__content
            h1 подпишитесь! 
            p получайте лучшие педложения на почту 
            form(action="", method="get")
                input(type="email", name="email" placeholder="Укажите свой e-mail ") 
                button(type="email" name="email" ).subscribe__btn Отправить