
.vector5
    .tips
        .container
            .tips__header
                h1 Советы для путешествий
            .row
                .col.col-4
                    .tips__content
                        img(src="./img/tips1.png", alt="")
                        h1 Необычная Франция: ТОП-9 мест бретани
                        p
                            | Бретань - один из самых живописных и <br/>
                            | загадочных регионов франции. Мы <br/>
                            |  выбрали для вас самые интересные места<br/>
                            |   региона и объединили их... <br/>
                        a(href="javascript:void(0)") Читать далее
                .col.col-4
                    .tips__content2
                        img(src="./img/tips2.png", alt="")
                        h1 
                            | От Больньи до Рима: что посмотреть за 
                            | неделю в Италии 
                        p
                            | Флоренция, Рим, Пиза, Больнья и Анцио - <br/>
                            | даже если у вас всего 7 дней, успеть можно <br/>
                            | многое. Познать страну пасты и пиццы,<br/>
                            | осознать прелести dolce far niente... <br/>
                        a(href="javascript:void(0)") Читать далее
                .col.col-4
                    .tips__content
                        img(src="./img/tips3.png", alt="")
                        h1 
                            | 5 малоизвестных городов Европы,
                            | которые вам понравятся
                        p
                            | Мы сделали подборку интересных, но<br/>
                            | неизведанных, европейских городов. Бордо <br/>
                            | Роттердам, Ноттингем, Бильбао...,<br/>
                        a(href="javascript:void(0)") Читать далее
            button(type="submit" name="tel" ).tips__btn Читать больше статей в блоге
