@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto');



.header-vector01{
    background-image: url('../img/Vector1.png');
    min-height: 763px;
    background-repeat: no-repeat;
}


.header {
    &__logo {
        display: flex;
        justify-content: flex-start;
        padding-top: 37px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        line-height: normal;
        font-size: 24px;
        text-transform: uppercase;
        display: block;
    }
    &__logo a {
        color: white;
        text-decoration: none;
    }
    &__form{
        display: flex;
        justify-content: flex-end;
        margin-top: -9px;
        & form{
            margin-top: -21px;
            & input{
                border-top-left-radius: 9px;
                border-bottom-left-radius: 9px;
                padding: 0px 40px 1.5px 13px;
                height: 43px;
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                color: #38496a;    
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border: none;
            }
            & input:focus{
                background-color: whitesmoke;
                border: 1px solid white;
            }
        }
    }
    &__btn{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #56CCF2;
    width: 112px;
    height: 43px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    }
    &__content{
        display: flex;
        justify-content: center;
        & h1{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 36px;
            color: #FFFFFF;
            margin-top: 90px;
        }
        & p{
            font-family: 'Lato',sans-serif;
            font-weight: 700;
            font-size: 18px;
            display: flex;
            justify-content: center;
            margin-top: 29px;
        }
    }
}

.header__btn:hover{
    background-color: rgb(28, 185, 238);
}

.header__btn:focus{
    background-color: green;
}
.nav{
    &__list{
        margin-top: -20px;
        padding-right: 232px;
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }

    &__link{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        padding: 26px;
    }
    &__item-lang{
        padding-left: 90px;
    }
}
.nav__item-lang {
    text-decoration: none;
    color: white;
}

.nav__item-lang a {
    text-decoration: none;
    color: white;
}

.avia{
    height: 36px;
    &__list{
        list-style: none;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
    &__link{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        padding-right: 38px;
        padding-left: 38px;
        padding-top: 7px;
        padding-bottom: 7px;
        &--active{
            background-color: white;
            color: #38496a;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
        &:focus{
            background-color: white;
            color: #38496a;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
    }
    &__content{
        background-color: white;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        height: 199px;
        & input{
            margin-left: 50px;
        }
    }
    &__radio{
        background-color: white;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        margin-top: -12px;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        text-transform: uppercase;
        color: #50546E;
        padding-top: 20px;
            }
    }
    &__place{
        display: flex;
    }
    &__whence{
        margin-top: 36px;
        height: 52px;
        width: 252px;
        border: 1px solid #E0E0E0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-left: 40px;
        & h3{
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            text-transform: uppercase;
            color: #50546E;
            margin-top: -18px;
        }
        & img{
            padding-left: 14px;
        }
        & form{
            margin-top: -21px;
            & input{
                margin-left: 38px;
                text-transform: capitalize;
                font-weight: 600;
                line-height: normal;
                font-size: 16px;
                border: none;
                font-family: 'Open Sans', sans-serif;
                color: #51527E;
                &::placeholder{
                    text-transform: capitalize;
                    font-weight: 600;
                    line-height: normal;
                    font-size: 16px;
                    border: none;
                    font-family: 'Open Sans', sans-serif;
                    color: #51527E;
                }
            }
        }
        & p{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            margin-left: 38px;
            margin-top: 2px;
            color: #50546e;
        }
    }
    &__where{
        margin-top: 36px;
        height: 52px;
        width: 252px;
        border: 1px solid #E0E0E0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-left: -1px;
        & h3{
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            text-transform: uppercase;
            color: #50546E;
            margin-top: -18px;
        }
        & img{
            padding-left: 14px;
        }
        & form{
            margin-top: -21px;
            & input{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-size: 16px;
                color: #B5B7C2;
                border: none;
                margin-left: 36px;
                margin-top: -3px;
                width: 212px;
                &::placeholder{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    font-size: 16px;
                    color: #B5B7C2;
                }
            }
        }
        & p{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            margin-left: 38px;
            margin-top: 2px;
            color: #50546e;
        }
    }
    &__date-there{
        width: 110px;
        border: 1px solid #E0E0E0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-top: 36px;
        margin-left: 9px;
        & h3{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            font-size: 12px;
            text-transform: uppercase;
            color: #50546e;
            margin-top: -18px;
        }
        & form{
            margin-top: -22px;
            margin-left: -24px;
            & input{
                width: 79px;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-size: 14px;
                text-transform: capitalize;
                color: #A4ABB8;
                cursor: pointer;
                &::placeholder{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    font-size: 14px;
                    text-transform: capitalize;
                    color: #A4ABB8;
                }
            }
        }
        & img{
            padding-left: 6px;
        }
        & p{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            text-transform: capitalize;
            color: #50546E;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 32px;
        }
    }
    &__date-back{
        width: 110px;
        border: 1px solid #E0E0E0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-top: 36px;
        margin-left: -1px;
        & h3{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            font-size: 12px;
            text-transform: uppercase;
            color: #50546e;
            margin-top: -18px;
        }
        & form{
            margin-top: -22px;
            margin-left: -24px;
            & input{
                width: 79px;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-size: 14px;
                text-transform: capitalize;
                color: #A4ABB8;
                cursor: pointer;
                &::placeholder{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    font-size: 14px;
                    text-transform: capitalize;
                    color: #A4ABB8;
                }
            }
        }
        & img{
            padding-left: 6px;
        }
        & p{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            text-transform: capitalize;
            color: #50546E;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 32px;
        }
    }
    &__class{
        width: 98px;
        border-radius: 4px;
        border: 1px solid #E0E0E0;
        margin-left: 9px;
        margin-top: 36px;
        position: relative;
        & h3{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 14px;
            text-transform: uppercase;
            color: #50546E;
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 6px 0px 0px 10px;
        }
        & p{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            color: #50546E;
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 2px 0px 0px 10px;
        }
        & img{
            position: absolute;
            left: 52px;
            top: 14px;
        }
        & select{
            position: absolute;
            border: none;
            padding-bottom: 12px;
            top: 5px;
            left: 63px;
        }
    }
    &__button{
        width: 122px;
        margin-top: 12px;
        margin-left: 9px;
        & button{
            width: 122px;
            cursor: pointer;
            padding: 17px 35px 18px 35px;
            border-radius: 4px;
            background: #57C986;
            border: none;
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 14px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-top: 3px;
        }
        & button:hover{
            background: rgb(73, 240, 142);
            border-radius: 4px;
        }
        & button:focus{
            background: rgb(8, 218, 96);
            border-radius: 4px;
        }
        & label{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            color: #50546E;
            font-weight: 400;
            margin-left: -1px;
        }
        & input{
            margin-left: 4px;
        }
    }
    &__check{
        display: flex;
        & label{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            text-align: center;
            color: #838EA2;
        }
        & input{
            margin-top: 30px;
        }
    }
}
