@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto');



.header-vector01{
    background-image: url('../img/Vector1.png');
    min-height: 783px;
    background-repeat: no-repeat;
}


.header {
    &__logo {
        display: flex;
        justify-content: flex-start;
        padding-top: 37px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        line-height: normal;
        font-size: 24px;
        text-transform: uppercase;
        display: block;
    }
    &__logo a {
        color: white;
        text-decoration: none;
    }
    &__form{
        display: flex;
        justify-content: flex-end;
        margin-top: -39px;
        & form{
            margin-top: -39px;
            & input{
                border-top-left-radius: 9px;
                border-bottom-left-radius: 9px;
                padding: 0px 0px 1.5px 13px;
                height: 43px;
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                color: #38496a;    
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                border: none;
                outline: 0;
            }
            & input:focus{
                background-color: whitesmoke;
                outline: 0;
            }
        }
    }
    &__btn{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #56CCF2;
        width: 112px;
        height: 43px;
        border: none;
        cursor: pointer;
        border-top-right-radius: 9px;
        border-bottom-right-radius: 9px;
        outline: 0;
    }
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        & h1{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-size: 36px;
            color: #FFFFFF;
            margin-top: 90px;
            text-align: center;
        }
    }
    &__text{
        & p{
            font-family: 'Lato',sans-serif;
            font-weight: 700;
            font-size: 18px;
            display: flex;
            justify-content: center;
            margin-top: 0px;
            color: white;
        }
    }
}

.header__btn:hover{
    background-color: rgb(28, 185, 238);
}

.header__btn:focus{
    background: #57c986;
}
.nav{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    & ul{
        display: flex;
        align-items: center;
        height: 50px;
        margin-top: -37px;
        & a{
            margin-left: 0px;
        }
    }
    &__list{
        margin-top: -20px;
        padding-right: 232px;
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }

    &__link{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        padding: 26px;
        &-lang:hover{
            color: rgb(63, 91, 245);
            transition: .5s;
        }
    }
    &__link-lang{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        padding-left: 0px;
        &-lang:hover{
            color: rgb(63, 91, 245);
            transition: .5s;
    }
}
    &__link:hover{
        color: rgb(63, 91, 245);
        transition: .5s;
    }
}


.avia{
    &--padding-left{
        padding-left: 0px;
    }
    &--padding-right{
        padding-right: 0px;
    }
    height: 36px;
    &__list{
        list-style: none;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
    &__link{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        padding-right: 38px;
        padding-left: 38px;
        padding-top: 7px;
        padding-bottom: 7px;
        &--active{
            background-color: white;
            color: #38496a;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
        &:focus{
            background-color: white;
            color: #38496a;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
    }
    &__content{
        background-color: white;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        width: 100%;
        height: auto;
        padding: 0 40px;
        margin-top: -14px;
    }
    &--padding{
        padding-right: 10px;
    }
    &--input{
        padding-left: 0px;
    }
    &__radio{
        background-color: white;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        text-transform: uppercase;
        color: #50546E;
        display: flex;
        margin-top: 20px;
        & label{
            cursor: pointer;
            padding-right: 57px;
        }
    }
    &__place{
        display: flex;
    }
    &__whence{
        margin-top: 36px;
        height: 52px;
        width: 100%;
        border: 1px solid #E0E0E0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        & h3{
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            text-transform: uppercase;
            color: #50546E;
            margin-top: -18px;
        }
        & img{
            padding-left: 14px;
        }
        & form{
            margin-top: -21px;
            & input{
                margin-left: 38px;
                text-transform: capitalize;
                font-weight: 600;
                line-height: normal;
                font-size: 16px;
                border: none;
                font-family: 'Open Sans', sans-serif;
                color: #51527E;
                width: 84%;
                outline: 0;
                &::placeholder{
                    text-transform: capitalize;
                    font-weight: 600;
                    line-height: normal;
                    font-size: 16px;
                    border: none;
                    font-family: 'Open Sans', sans-serif;
                    color: #51527E;
                }
            }
        }
        & p{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            margin-left: 38px;
            margin-top: 2px;
            color: #50546e;
        }
    }
    &__where{
        margin-top: 36px;
        height: 52px;
        width: 100%;
        border: 1px solid #E0E0E0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        & h3{
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            text-transform: uppercase;
            color: #50546E;
            margin-top: -18px;
        }
        & img{
            padding-left: 14px;
        }
        & form{
            margin-top: -21px;
            & input{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-size: 16px;
                color: #B5B7C2;
                border: none;
                margin-left: 36px;
                margin-top: -3px;
                width: 84%;
                outline: 0;
                &::placeholder{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    font-size: 16px;
                    color: #B5B7C2;
                }
            }
        }
        & p{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            margin-left: 38px;
            margin-top: 2px;
            color: #50546e;
        }
    }
    &__date-there{
        width: 100%;
        border: 1px solid #E0E0E0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-top: 36px;
        height: 52px;
        & h3{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            font-size: 12px;
            text-transform: uppercase;
            color: #50546e;
            margin-top: -18px;
        }
        & form{
            margin-top: -22px;
            & input{
                width: 71%;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-size: 14px;
                text-transform: capitalize;
                color: #A4ABB8;
                cursor: pointer;
                border: none;
                margin-left: 24px;
                outline: none;
                &::placeholder{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    font-size: 14px;
                    text-transform: capitalize;
                    color: #A4ABB8;
                }
            }
        }
        & img{
            padding-left: 6px;
        }
        & p{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            text-transform: capitalize;
            color: #50546E;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 32px;
        }
    }
    &__date-back{
        width: 100%;
        border: 1px solid #E0E0E0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-top: 36px;
        height: 52px;
        & h3{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            font-size: 12px;
            text-transform: uppercase;
            color: #50546e;
            margin-top: -18px;
        }
        & form{
            margin-top: -22px;
            & input{
                width: 71%;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-size: 14px;
                text-transform: capitalize;
                color: #A4ABB8;
                cursor: pointer;
                border: none;
                margin-left: 24px;
                outline: none;
                &::placeholder{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    font-size: 14px;
                    text-transform: capitalize;
                    color: #A4ABB8;
                }
            }
        }
        & img{
            padding-left: 6px;
        }
        & p{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            text-transform: capitalize;
            color: #50546E;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 32px;
        }
    }
    &__class{
        width: 87%;
        border-radius: 4px;
        border: 1px solid #e0e0e0;
        margin-top: 36px;
        position: relative;
        height: 52px;
        & h3{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 14px;
            text-transform: uppercase;
            color: #50546E;
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 6px 0px 0px 10px;
        }
        & p{
            font-weight: 400;
            font-size: 12px;
            padding: 2px 10px;
            margin-top: 0px;
        }
        & img{
            position: absolute;
            left: 52px;
            top: 14px;
        }
        & select{
            position: absolute;
            border: none;
            padding-bottom: 12px;
            top: 5px;
            left: 63px;
            outline: none;
        }
    }
    &__button{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 27px;
        & button{
            width: 100%;
            cursor: pointer;
            border-radius: 4px;
            background: #57C986;
            border: none;
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 14px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 16px;
            outline: 0;
        }
        & button:hover{
            background: rgb(73, 240, 142);
            border-radius: 4px;
        }
        & button:focus{
            background: rgb(8, 218, 96);
            border-radius: 4px;
        }
        & label{
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 12px;
            color: #50546E;
            font-weight: 400;
            cursor: pointer;
        }
    }
    &__check{
        display: flex;
        padding-bottom: 20px;
        & label{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            text-align: center;
            color: #838EA2;
            cursor: pointer;
            padding-right: 80px;
        }
    }
}


.hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 215px;
    background-color: #eee;
    height: 100%;
    top: 0;
    left: -200px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    &-link{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        text-decoration: none;
        color: #7481C8;
    }
    &-link:hover{
        color: rgb(63, 91, 245);
    }
    &-item{
        margin-top: 30px;
        margin-bottom: 20px;
    }
  }
  .hidden-menu-ticker {
    display: none;
  }
  .btn-menu {
    display: none;
    color: #fff;
    padding: 5px;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 35px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .btn-menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
  }
  .btn-menu span.first {
    margin-top: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu {
    left: 160px;
  }
  .hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
  }
  
  .hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
  }