

.footer
    .container
        .row
            .col.col-sm-12.offset-sm-1.col.col-md-12.offset-md-1.col.col-lg-12.offset-lg-1
                .footer-mobi__content
                    h1 AIR PRO
            .col.col-sm-12.offset-sm-1.col.col-md-12.offset-md-1.col-lg-12.offset-lg-1
                .footer-mobi__help
                    .footer-mobi__help
                        nav.help-mobi
                            ul.help-mobi__list
                                li.help-mobi__item
                                    a(href="javascript:void(0)", title="Услуги").help-mobi__link Услуги
                                li.help-mobi__item
                                    a(href="javascript:void(0)", title="Все города").help-mobi__link Все города
                                li.help-mobi__item
                                    a(href="javascript:void(0)", title="Все страны").help-mobi__link Все страны
                                li.help-mobi__item
                                    a(href="javascript:void(0)", title="Акции").help-mobi__link Акции
            .col.col-sm-12.col.col-md-12.col.col-lg-12
                .footer-mobi__number
                    .row
                        .col.col-sm-6.col.col-md-6.col.col-lg-6
                            p +38 (044) 232 12 16
                            p +38 (063) 233 32 76
                        .col.col-sm-6.footer-mobi--padding
                            p +38 (050)  567 19 37
                            p +38 (067) 456 13 75
                    .row
                        .col.col-sm-12.col.col-md-12.col.col-lg-12
                            .footer-mobi__text
                                p Cкачайте мобильное приложение
                        .col.col-sm-12.col.col-md-12.col.col-lg-12
                            .footer-mobi__foto
                                img(src="./img/google-play.png", alt="")
                                img(src="./img/app-store.png", alt="")
                        .col.col-sm-12.col.col-md-12.col.col-lg-12
                            .footer-mobi__text
                                p все денежные операции надежно защищены 
                        .col.col-sm-12.col.col-md-12.col.col-lg-12
                            .footer-mobi__pay
                                img(src="./img/visa.png", alt="")
                                img(src="./img/mastercard.png", alt="")
                                img(src="./img/maesto.png", alt="")
                        .col.col-sm-12.col.col-md-12.col.col-lg-12
                            .footer-mobi__btn
                                button(type="submit" name="avia" ).avia__btn
                                    a(href="javascript:void(0)") бронирование авиабилета
                                        //- img(src="./img/footer-planet.png", alt="")
                        .col.col-sm-12.col.col-md-12.col.col-lg-12
                            .footer-mobi__btn
                                button(type="submit" name="hotel" ).hotel__btn
                                    a(href="javascript:void(0)") бронирование отелей
                                        //- img(src="./img/footer-hotel.png", alt="")
        .footer__content
            h1 AIR PRO
            p Все денежные операции надежно защищены 
            .footer__money
                img(src="./img/visa.png", alt="")
                img(src="./img/mastercard.png", alt="")
                img(src="./img/maesto.png", alt="")
            .footer__google
            img(src="./img/google-play.png", alt="")
            img(src="./img/app-store.png", alt="")
        .footer__social
            .footer__soical--avia
                button(type="submit" name="avia" ).avia__btn
                    a(href="javascript:void(0)") бронирование авиабилета
                        img(src="./img/footer-planet.png", alt="")
            .footer__social--hotel 
                button(type="submit" name="hotel" ).hotel__btn
                    a(href="javascript:void(0)") бронирование отелей
                        img(src="./img/footer-hotel.png", alt="")
            .footer__nav
            nav.nav
                ul.footer__list
                    li.footer__item
                        a(href="javascript:void(0)").footer__link
                            img(src="./img/facebook.png", alt="")
                    li.footer__item
                        a(href="javascript:void(0)").footer__link
                            img(src="./img/whats.png", alt="")
                    li.footer__item
                        a(href="javascript:void(0)").footer__link
                            img(src="./img/twitter.png", alt="")
                    li.footer__item
                        a(href="javascript:void(0)").footer__link
                            img(src="./img/instagram.png", alt="")
.help
    .container
        .row
            .col.col-12
                .footer__help
                    nav.help
                        ul.help__list
                            li.help__item
                                a(href="javascript:void(0)", title="Услуги").help__link Услуги
                            li.help__item
                                a(href="javascript:void(0)", title="Все города").help__link Все города
                            li.help__item
                                a(href="javascript:void(0)", title="Все страны").help__link Все страны
                            li.help__item
                                a(href="javascript:void(0)", title="Акции").help__link Акции
                            li.help__item
                                a(href="javascript:void(0)", title="Вопросы и ответы").help__link.help__link--none Вопросы и ответы 
                            li.help__item
                                a(href="javascript:void(0)", title="Все авиалинии").help__link.help__link--none Все авиалинии
                            li.help__item
                                a(href="javascript:void(0)", title="Помощь").help__link Помощь





