

.footer
    .container
        .footer__content
            h1 AIR PRO
            p Все денежные операции надежно защищены 
            .footer__money
                img(src="./img/visa.png", alt="")
                img(src="./img/mastercard.png", alt="")
                img(src="./img/maesto.png", alt="")
            .footer__google
            img(src="./img/google-play.png", alt="")
            img(src="./img/app-store.png", alt="")
        .footer__social
            .footer__soical--avia
                button(type="submit" name="avia" ).avia__btn
                    a(href="javascript:void(0)") бронирование авиабилета
                        img(src="./img/footer-planet.png", alt="")
            .footer__social--hotel 
                button(type="submit" name="hotel" ).hotel__btn
                    a(href="javascript:void(0)") бронирование отелей
                        img(src="./img/footer-hotel.png", alt="")
            .footer__nav
            nav.nav
                ul.footer__list
                    li.footer__item
                        a(href="javascript:void(0)").footer__link
                            img(src="./img/facebook.png", alt="")
                    li.footer__item
                        a(href="javascript:void(0)").footer__link
                            img(src="./img/whats.png", alt="")
                    li.footer__item
                        a(href="javascript:void(0)").footer__link
                            img(src="./img/twitter.png", alt="")
                    li.footer__item
                        a(href="javascript:void(0)").footer__link
                            img(src="./img/instagram.png", alt="")
.help
    .container
        .row
            .col.col-12
                .footer__help
                    nav.help
                        ul.help__list
                            li.help__item
                                a(href="javascript:void(0)", title="Услуги").help__link Услуги
                            li.help__item
                                a(href="javascript:void(0)", title="Все города").help__link Все города
                            li.help__item
                                a(href="javascript:void(0)", title="Все страны").help__link Все страны
                            li.help__item
                                a(href="javascript:void(0)", title="Акции").help__link Акции
                            li.help__item
                                a(href="javascript:void(0)", title="Вопросы и ответы").help__link Вопросы и ответы 
                            li.help__item
                                a(href="javascript:void(0)", title="Все авиалинии").help__link Все авиалинии
                            li.help__item
                                a(href="javascript:void(0)", title="Помощь").help__link Помощь





